/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  /* Article container */
  .article-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 800px;
  }
  
  /* Article header */
  .article-header h1 {
    font-size: 2em;
    color: #333;
  }
  
  .article-header img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
  }
  
  /* Article content */
  .article-content {
    margin-top: 20px;
  }
  
  .article-text {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Video player */
  .article-video video {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Adjustments for larger screens */
  @media (min-width: 1024px) {
    .article-container {
      padding: 40px;
    }
  
    .article-content {
        display: block; /* Changed from flex to block for a top-to-bottom layout */
      }
      
      .article-text {
        margin-bottom: 20px;
      }
      
      /* Video player */
      .article-video {
        text-align: center;
        width: 100%; /* Full width to center the video within the article */
        padding-top: 20px; /* Add some space between the text and the video */
        height: 420px;
      }
      
      .article-video iframe {
        width: 100%; /* Make it responsive */
        max-width: 720px; /* Adjust based on preference */
        height: auto; /* Maintain aspect ratio */
        border-radius: 8px;
        margin: 0 auto;
        height: 350px; /* Center the video */
      }
      
  
  

  }
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    text-decoration: underline;
}
  